*{
    font-family: sans-serif, Arial, Helvetica;
}

body{
    background: rgb(253, 247, 249);
}

.navegar{
    display: flex;
    background-color: #da2f76;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.logo{
    position: absolute;
    width: 60px;
    top: 25px;
    left: 50px;  
}

ul{
    list-style: none;
    display: flex;
  
}

li{
    margin: 1rem;
}

a{
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-weight:800;
    font-size: 14pt;
}

h1{
    display: flex;
    color:rgb(205, 84, 115);
    text-align: center;
    justify-content: center;
    font-weight: bold;

}

p{
    color: rgba(0, 0, 0,0.7);
    font-size: 14pt;
    position: relative;
    left:65px;
    width: 50%;
}

p2{
    font-size: 15px;
    color:rgba(0, 0, 0,0.5);
}

p3{
    color: rgba(0, 0, 0,0.7);
    font-size: 14pt;
    position: absolute;
    top: 255px;
    left: 920px;
    width: 35%;
}

form {
    width: 35%;
    /*border: 1px solid #ec4067;¨*/
    color: black;
    padding: 15px;
    position: relative;
    left: 90px;
}

input, .msj{
    font-size: 15px;
    width:100%;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    /*background-color: rgb(253, 247, 249);*/
    border: 3px solid #ec4067;
    border-radius: 5px;
}

.msj{
    height: 300px;
    max-height: 300px;
    width: 650x;
    max-width: 650px;
}

input:focus{
    border: 1px solid #3985f7;
}

form .boton{

    background: #ec4067;
    color:white;
    width: 100%;
    border: 1px solid #3985f7;
}

.imagenes{
    position: absolute;
    top: 290px;
    left: 940px;
    display:flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    line-height: 45px;
}


.redes{
    position: absolute;
    top: 260px;
    left: 1120px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.redes a{   
    color: #d36680;
    font-size: 24pt;
    text-decoration: none;
    line-height: 200px;
}

.final{
    background-color: #211103;
    padding: 20px;
    width: 100%;
}

.final ul{
    display: flex;
    flex-direction: column;
    color:white;
    font-size: 12pt;
    text-decoration: none;
}

.lista a{
    font-weight: normal;
}

.numeros{
    position: absolute;
    top:1050px;
    left:450px;
}

.menu{
    position: absolute;
    top:1050px;
    left: 1050px;
}

