<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilos.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <form action="/inicio-sesion" method="POST">
            <h2>Ingresar</h2>
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" placeholder="Nombre" name="nombre" required>
    
            <label for="contra"><b>Contraseña</b></label>
            <input type="password" placeholder="Contraseña" name="contra" required>
            
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>
    <br>
    <a href="/" class="regreso">Regresar</a>
</body>
</html>